{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .container {
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 50px;
        text-align: center;
    }

    h1 {
        color: #343a40;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 18px;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        background: linear-gradient(to right, #007bff, #0056b3);
        color: white;
        border: none;
        text-decoration: none;
        box-shadow: 0 4px 15px 0 rgba(0, 123, 255, 0.75);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

    .btn:hover {
        background: linear-gradient(to right, #0056b3, #007bff);
        transform: translateY(-2px);
        box-shadow: 0 6px 15px 0 rgba(0, 123, 255, 0.75);
    }

    h1 {
        color: #343a40;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #000000;
    }


    #webcam {
        width: 399px;
        height: 300px;
        max-width: 600px;
        border: 2px solid #333;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }


    .button-container {
        display: flex;
        justify-content: center;
    }

    .button-container button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-container button:hover {
        background-color: #555;
    }

    #filenameInput {
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #fileCount {
        font-size: 16px;
        margin-top: 10px;
    }
</style>

<div class="container">
    <h1>Smart Demographic Recognition System</h1>
    <hr>

    <video id="webcam" autoplay></video>
    <div id="results" style="color: rgb(0, 255, 0);"></div>
    <div class="button-container">
        <button class="btn" onclick="goBack()">Back</button>
        <button class="btn" onclick="captureImage()">Capture & Process Image</button>
    </div>
    <div id="fileCount">Files Processed: 0</div>

</div>


<script>
    const webcam = document.getElementById('webcam');
    const filenameInput = document.getElementById('filenameInput');
    const fileCountElement = document.getElementById('fileCount');
    let fileCount = 0;

    async function startWebcam() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia({ video: true });
            webcam.srcObject = stream;
        } catch (error) {
            console.error('Error accessing webcam:', error);
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function captureImage() {
        const canvas = document.createElement('canvas');
        canvas.width = webcam.videoWidth;
        canvas.height = webcam.videoHeight;
        const ctx = canvas.getContext('2d');
        ctx.drawImage(webcam, 0, 0, canvas.width, canvas.height);
        const imgDataUrl = canvas.toDataURL('image/png');

        saveImageToServer(imgDataUrl);
    }

    async function saveImageToServer(imageData) {
        try {
            const response = await fetch('/predict_image/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    imageData: imageData
                })
            });
            if (response.ok) {
                fileCount++;
                fileCountElement.textContent = `Files Saved: ${fileCount}`;
            } else {
                alert('Failed to save image.');
            }
            const data = await response.json();
            if (data.success) {
                displayPredictions(data.predictions);
            } else {
                alert('Failed to predict image.');
            }

        } catch (error) {
            console.error('Error saving image:', error);
        }
    }

    function displayPredictions(predictions) {
        const resultsDiv = document.getElementById('results');
        resultsDiv.innerHTML = '';
        let retryCount = 0;
        const MAX_RETRIES = 3;

        predictions.forEach(pred => {
            const predDiv = document.createElement('div');
            if (pred.name) {
                predDiv.innerHTML = `Name: ${pred.name}`;
                resultsDiv.appendChild(predDiv);
            } else {
                if (retryCount < MAX_RETRIES) {
                    predDiv.innerHTML = 'No name detected, retrying...';
                    resultsDiv.appendChild(predDiv);
                    setTimeout(captureImageAndPredict, 1000);
                    retryCount++;
                } else {
                    predDiv.innerHTML = 'Retry limit reached. No name detected after several attempts.';
                    resultsDiv.appendChild(predDiv);
                }
            }
        });
    }

    window.addEventListener('load', () => {
        startWebcam();
    });

    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}